<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
<%= render 'users/list', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(@user) do %>
                  <%= image_tag @user.get_profile_image %>
                <% end %><br>
                <%= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <td><% if @book.user_id == current_user.id %>
                  <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success edit_book_id" %>
                  <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger destroy_book_id", data: { confirm: '本当に削除しますか？' } %>
                <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>